do_token = "b7d03a6947b217efb6f3ec3bd3504582"
droplet_name = "VPN-Proxy-droplet"
region = "nyc3"
ssh_key_path = "/Users/johny/.ssh/id_rsa.pub"
proxy_user = "socks_user"
proxy_password = "socks_pass"
proxy_port = "1080"
vpn_user = "vpn_user"
vpn_password = "vpn_pass"
vpn_ipsec_psk = "UxjBMXfrG4J9RXEa8b0Hj^Qh9bWasuTY2"